@use "sass:list";
@use "sass:color";

@font-face {
    font-family: "BagelFatOne";
    src: url(../../public/fonts/BagelFatOne-Regular.ttf);
}

$font-top: "BagelFatOne", sans-serif;

@mixin text-h($color, $position, $weight){
    color: $color;
    text-align: $position;
    font-weight: $weight;
}
$values: #8D93CB, center, bold;

.main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 76px 0;
    background-color: #FFDBED;
    img{
        height: 30rem;
        width: 55vw;
        object-fit: cover;
        object-position: 0 20%;
        display: block;
        float: right;
        margin: 0;
    }
}

.main_p{
    text-align: left;
    padding: 0 30px;
    font-family: $font-top;
    font-weight: lighter;
    letter-spacing: 2px;
}

.main-btn{
    border: none;
    border-radius: 8px;
    background-color: #8D93CB;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 24px;
    letter-spacing: 3px;
    margin-top: 40px;
    transition: 0.2s;
    .link{
        text-decoration: none;
        color: #ffffff;
    }
    &:hover{
        box-shadow: 0px 0px 15px #8D93CB;
    }
    &:active{
        background-color: #696e9e;
    }
}

.category-main{
    margin: 20px 100px;
    h2{
        @include text-h($values...);
        font-size: 36px;
        font-family: $font-top;
        font-weight: 100;
        letter-spacing: 2px;
    }
}
.category-list{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.category-icon{
    text-align: center;
    p{
        margin-top: 8px;
        font-family: $font-top;
    }
}
.img-cat{
    width: 100px;
    height: auto;
    border-radius: 50%;
    // border: 2px solid #8D93CB;
    transition: 0.3s;
    &:hover{
        transform:scale(1.2);
    }
}