@use "sass:list";
@use "sass:color";

@font-face{
    font-family: "BagelFatOne";
    src: url(/fonts/BagelFatOne-Regular.ttf)
}
@font-face {
    font-family: "boldFont";
    src: url(/fonts/CormorantSC-Bold.ttf);
}
@font-face {
    font-family: "fontDefault";
    src: url(/fonts/CormorantSC-Medium.ttf)
}

$font-bold: "boldFont", sans-serif;
$font-straight: "BagelFatOne", sans-serif;
$font-default: "fontDefault", sans-serif;

@mixin text-h($color, $position, $weight){
    color: $color;
    text-align: $position;
    font-weight: $weight;
}
$values: #8D93CB, center, bold;



*{
    margin: 0;
}
body{
    color: #481535;
}

.menu-top{
    background-color: #fff;
    position: fixed;  
    top: 0;  
    z-index: 100;  
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    Link{
        text-decoration: none;
    }
}

.menu-list{
    display: flex;
    justify-content: space-around;
    font-family: $font-bold;
    .link{
        list-style: none;
        margin: 0 30px;
        font-size: 24px;
        @include text-h($values...);
        letter-spacing: 2px;
        text-decoration: none;
        transition: 0.2s;
        &:hover{
            text-decoration: underline 2px #8D93CB;
        }
    }
}

.menu-header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;

    img {
        height: 60px;
    }
}
.burger {
    justify-self: end;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;

    span {
        width: 25px;
        height: 3px;
        background: #481535;
        margin: 4px 0;
        transition: 0.3s;
    }

    &.active span:nth-child(1) {
        transform: rotate(45deg) translate(10px, 5px);
    }

    &.active span:nth-child(2) {
        opacity: 0;
    }

    &.active span:nth-child(3) {
        transform: rotate(-45deg) translate(10px, -6px);
    }
}

.block-footer{
    background-color: #481535;
    color: #FFDBED;
    font-family: $font-default;
    padding: 30px 100px;
    font-size: 25px;
    h2{
        font-family: $font-straight;
        font-size: 35px;
        letter-spacing: 3px;
    }
    .footer-text{
        display: flex;
        justify-content: space-evenly;
        border-bottom: 2px solid #ffdbed34;
    }
    .footer-group-text{
        h3{
            margin-bottom: 20px;
            font-size: 30px;
        letter-spacing: 3px;

        }
    }

    .footer-link{
        display: flex;
        flex-direction: column;
    }

    .footer-list{
        display: flex;
        align-items: center;
        margin: 20px 0;
        img{
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
    }
}


@media screen and (min-width: 1000px) and (max-width: 1200px){
    .menu-top{
        img{
            height: 50px;
            width: 20%;
        }
    }
}
@media screen and (max-width: 999px) {
    .burger {
        display: flex;
    }

    .menu-list {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        align-items: center;

        max-height: 0;
        overflow: hidden;
        transition: 0.3s;
    }

    .menu-list.open {
        max-height: 300px;
        padding: 20px 0;
    }

    .menu-list .link {
        margin: 10px 0;
    }
}

@media screen and (min-width: 690px) and (max-width:999px) {
    .menu-top{
        img{
            height: 50px;
            width: 20%;
        }
    }
}

@media screen and (max-width:540px){
    .menu-list{
        flex-direction: column;
    }
}